body {
    font-family: 'Rubik', sans-serif;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    background:
		linear-gradient(red, transparent),
		linear-gradient(to top left, lime, transparent),
		linear-gradient(to top right, blue, transparent);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
}

.author, main {
    color: white;
}

.buttonclass {
    text-transform: inherit;
    letter-spacing: inherit;
    color: white;
    background-color: transparent;
    border: 1px solid gray;
    min-height: 30px;
    min-width: 90px;
}
.buttonclass:hover {
    background-color: lightgray;
    border: 1px solid lightgray;
    color: black;
    opacity: 0.4;
}
.auth_name {
    border: 1px solid white;
    text-transform: inherit;
    outline: 0;
}
